.autocomplete_container{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    overflow-y: hidden;
    width: 43.7%;
}

.track{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    margin: 5px;
    font-size: 1rem;
    color: white;
    text-wrap: nowrap;
}

@media screen and (max-width: 570px) {
    .track{
        color: rgb(0, 0, 0);
    }

    .autocomplete_container{
        width: 78%;
    }
}