.autocomplete_container{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    overflow-y: hidden;
    width: 40rem;
}

.track{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    margin: 5px;
    font-size: 1rem;
    color: white;
    white-space: nowrap;
}

@media screen and (max-width: 1100px) {
    .autocomplete_container{
        width: 32rem;
    }
}

@media screen and (max-width: 950px) {
    .autocomplete_container{
        width: 24rem;
    }
}

@media screen and (max-width: 570px) {
    .track{
        color: rgb(0, 0, 0);
    }

    .autocomplete_container{
        width: 78%;
    }
}