.Information_container{
    width: 60%;
    display: grid;
    align-self: center;
    flex-direction: column;
}

.Information_container_cta{
    text-align: center;
    justify-self: center;
    margin-top: 4rem;
}