.searchBar_autocomplete_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    width: 100vw;
    margin-bottom: 12%;
}

.searchBar_container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.searchBar_input {
    border-radius: 10px 0px 0px 10px;
    padding: 4px 5px;
    border: rgb(255, 255, 255) solid 2px;
    width: 40%;
}

.searchBar_button{
    border-radius: 0px 10px 10px 0px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 0px;
    width: 3%;
}

svg{
    margin-top: 5px;
}

@media screen and (max-width: 570px) {
    .searchBar_autocomplete_container{
        margin-top: 2%;
        margin-bottom: 6%;
    }

    .searchBar_input {
        background-color: black;
        color: white;
        border: rgb(0, 0, 0) solid 2px;
        width: 70%;
    } 

    .searchBar_button{
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
    }
}



